html {
  height: 100vh;
}

body {
  align-items: center;

  /* background-color: #4444; */
  background-attachment: fixed;
  background-color: #ebebeb;

  /* background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}


.logo-container {
  width: 300px;
}

.logo {
  margin: 0%;
  width: 100%;
}

/* FORMATO DO CONTAINER GENERICO FLEX-COLUMN */
.login-page-container, .input-container, label {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  background-color: #ff8a00;
  border: 1px solid #ff8a00;
  border-radius: 10px;
  color: #ebebeb;
  padding: 15px;
  transition: var(--transition);
}

.input-container label {
  font-weight: 700;
}

.input-container input {
  border: none;
  border-radius: 10px;
  padding: 4%;
  width: 250px;
}

.input-container button {
  background-color: #1b7319;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 3%;
  width: 250px;
}

.input-container h1 {
  font-size: 1.9em;
}

.input-container h1, h2, h3, p {

  /* color: white; */
  font-weight: 700;

}


.login-page-container {
  background-attachment: fixed;
  background-color: #ebebeb;

  /* background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%); */
  background-size: cover;

  /* border: 1px solid red; */

  /* background-color: #fffb7d; */
  height: 100vh;
  margin: 0;
  width: 100vw;
}
