.body-profile{
  background-color: #ebebeb;
  text-align: center;
}

.body-profile p{
  font-weight: 500;
  margin-top: 40px;
}


.pages{
  background-color: #fb8a27;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  margin: 2%;
  padding: 10px 0;
  width: 85%;
}

.logout-btn{
  background-color: #fb2e27;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: 700;
  margin-top: 2%;
  padding: 10px 0;
  width: 85%;
}
